
.textcenter{text-align: center;}
.textright{text-align: right;}
.textleft{text-align: left;}
.vertcenter{
    margin-left: auto;
    margin-right: auto;}
.horcenter{
    margin-top: auto;
    margin-bottom: auto;}
th {
    border: 5px solid black;
    border-radius: 5px;
}
td {
    border:5px solid black;
    border-radius: 5px;
    background-color: black;
    text-align: center;}
table{font-family: 'Courier New', Courier, monospace;}
